.pane-lix-content {
  display: inline-block;
  margin-left: 2em;
  position: absolute;
}
.pane-lix-content a + div {
    background-color: #ffffff;
    border: 3px solid #0000ff;
    display: none;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 0;
    z-index: 100;
}
.pane-lix-content a {
  color: #ccc;
}
.pane-lix-content a:hover {
  color: #00f;
}
.pane-lix-content a:hover + div {
  display: block;
}
